body {
    background-color:#d8afe5;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
     }
hr{
      border-style: none;
      border-top-style: dotted;
      border-color: grey ;
      border-width: 5px ;
      margin: 0;
      width: 5%;
     }
   h1  {
    color: #66BFBF;}
   h3 {
    color: #66BFBF;
   }
   p:hover, a:hover {
  background-color: yellow;
 }

 a:visited { 
  color: green; 
 }
 
 a:link {
  color: blue;
 } 
 /* universal selector */

      * { 

      background-color: hsl(325, 63%, 82%); 

      text-align: center; 

      } 
