body {
    background-color:#d8afe5;
    font-family: sans-serif;
    font-size: 2em;
    margin: 0;
     }
hr{
      border-style: none;
      border-top-style: dotted;
      border-color: grey ;
      border-width: 5px ;
      margin: 0;
      width: 5%;
     }
   h1  {
    color: #66BFBF;}
   h3 {
    color: #66BFBF;
   }
   css
.card-container {
display: flex;
justify-content: center;
align-items: center;
}


      /* class selector */

      .box { 

      background-color: yellow; 

      width: 300px; 

      height: 100px; 

      margin: auto; 

      font-size: 30px; 

      text-align: center; 

      } 
 .style3 { 

      font-family: "arial"; 

      font-weight: 10px; 

      font-size: 20px; 

      color: black; 

      text-align: right; 

      font-style: oblique; 

      font-variant: small-caps; 

      } 

