body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    h1 {
    border-bottom: 1px solid #375e97;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

a:hover {
    text-decoration: violet;
}
.heading{
    color:blueviolet
}
    
 img hover{
    background-color: gold ;
}

.bacon{
background-color: orangered;
}

.broccoli{
    background-color: green ;

}