
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

:root {
    --dark-one:#333;
    --dark-two: #7a7a7a;
    --main-color: #784cfb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
}

/* Start General Styles */
*, 
*::before, 
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, 
button, 
input, 
textarea {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}
 
a {
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 20%;
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;

/* End General Styles */

body {
    display: flex;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}

/* Header */

 header{
    width: 100%;
    background-color: var(--light-three);
    overflow: hidden;
   
 }

 nav {
    width: 100%;
    position: relative;
    z-index: 50;
 }


nav .container {
      display: flex;
      justify-content: space-between;
      height: 6rem;
      align-items: center;
} 

.logo {
    width: 40px;
    display: flex;
    align-items: center;
}

/* End Header */


.links ul {
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2 rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.link a.active {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: .9rem 2.1rem;
    margin-left: 1rem;
}

links a:hover {
    color: var(--main-color);
}

links a.active:hover {
color: var(--light-one);
background-color: #6b44c0;
}



}