body{
  margin:0px;
  text-align: center;
}

h1{
  margin: 0 ;
}

.border-top {
    background-color: #160c4b;
    position:relative;
    padding: top 100px;
    
   }

.middle-border {
  background-color: #36af9b;
  height: 200px;
  width: 200px;
  
}

.bottom-border {
  background-color: #69172f;
  height: 200px;
  width: 200px;
}

.pro { 
  text-decoration: underline;
}

.top-cloud {
  position:relative;
  right: 300px;
  margin:50px ;
} 

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom: 300px;
}
