html {
    filter: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

style {
    display: none;
}
body {
    background-color: rgb(43, 41, 61);
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
h1    { 
    font-family: 'Courier New', Courier, monospace;
    font-size: 3%;
}

a  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3%;
    cursor: pointer;
}
 p      {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
 }

li {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-attachment:fixed;
}


.n3VNCb {
    vertical-align: middle;
}

.n3VNCb {
    width: 100%;
}
element.style {
    overscroll-behavior-y: none;
}

* {
    font-family: Open Sans,sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
}
html {
    -webkit-locale: "en";
}

html {
    display: block;
}
*, :after, :before {
    box-sizing: border-box;
}